$green: #0eaa4f;
$gradientBlueRed: linear-gradient(#e66465, #9198e5);
$white: #f0f0f0;
$font: #d709a7;
$grey: #9b9b9b;
$purple: rgba(113, 55, 147, 0.502);
$purpleSolid: rgb(85, 40, 111);
$tileBackground: #ae1c5b1e;
$bg: #481a33;
$translayer: #3f3f3f7e;