<script>

import { component_subscribe, destroy_component } from "svelte/internal";

	import CourseEntry from "./CourseEntry.svelte";
	import Login from "./Login.svelte";
	import Create from "./Create.svelte";
	
	let server = "http://mc.rhotor.de:5000/";
	//let server = "http://localhost:8080/";
	
	let user = {
		uuid: "guest",
		groups: ["guest"]
	}
	let data = [];
	fetchTiles();
	let create = {
		component: false
	}
	function add() {
		create.component = Create;
		console.log("Component linked");
		console.log(create);

	}
	function remove() {
		create.component = false;
	}
	
	
	function login(event) {
		if(event.key == "Enter") {
			let uuid = document.getElementById("login").value;
			user = (async () => {
				const response = await fetch(server+'users?uuid='+uuid);
				let end = await response.json().catch(function(error) {
					console.log("user invalid");
				});
				user = end;
				fetchTiles();
			})()
		}
	}
	function fetchTiles() {
		data = (async () => {
			const response = await fetch(server+'tiles?uuid='+user.uuid);
			let end = await response.json();
			console.log(end);
    		return end;
		})()
	}
	
</script>

<div id="mainwrapper">
	<div id="header">
		<p>Coco Zoomlog</p>
		<p>&copy; none, opensource roxx</p>
		<input class="input" placeholder="Code goes here..." type="password" id="login" on:keypress="{login}">
	</div>

	<main>
		<div id="list">
			{#await data}
				<p>Loading data</p>
			{:then data}
				{#each data as course}
				<CourseEntry {...course}/>
				{/each}
			{:catch error}
				<p>Something went wrong, im sorry</p>
			{/await}
		</div>
		
		<svelte:component this={create.component}/>

	</main>

	<button id="createButton" on:click={add}><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
		<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
	  </svg></button>
</div>

<style type="text/scss">
	@import "./style/vars.scss";
	main {
		display: flex;
		justify-content: center;
		flex-direction: row;
		
	}
	.input {
		background-color: transparent;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px;
		border-style: solid;
		border-color: black;
		text-align: center;
		color: $font;
	}
	#list {
		display: flex;
		width: 50%;
		justify-content: center;
		flex-direction: column;
	}
	#header {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		color: $white;
		border: 0px;
		border-bottom: 1px;
		border-style: solid;
		border-color: $purple;
	}
	#mainwrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	#createButton {
		position: fixed;
		right: 2%;
		bottom: 2%;
		background-color: $purple;
		border-color: $purple;
		border-style: solid;
		border-radius: 50%;
	}
	

	:global(html) {
		background: $purple;
		background: linear-gradient(220deg, rgba(91,42,119,1) 0%, rgba(46,93,129,1) 100%);
		background-repeat: space;
	}
</style>

<!-- 
	{#each data as course}
		<CourseEntry {...course}/>
	{/each}
-->