<script>
    export let name;
    export let zoomId;
    export let pwd;
    export let prof;
    export let desc;
    export let groupId;

    let pwdField;

    function handleClick() {
        if(pwd.isEmbed == false) {
            pwdField.select();
            document.execCommand('copy');
            alert('Password copied to clipboard');
        }
        let link = "https://th-koeln.zoom.us/j/"+zoomId+"?pwd="+pwd.value;
        window.open(link);
    }

</script>

<div class="container" on:click="{handleClick}">
    <div id="spacer">
        <div id="topRow">
            <p id="name">{name}</p>
            <p id="prof">{prof}</p>
        </div>
        <div id="bottomRow">
            <p id="desc">{desc}</p>
            {#if pwd.isEmbed == false}
            <div id=pwdWrapper>
                <p id="pwdLbl">Password:</p>
                <input type="text" bind:this={pwdField} id="pwd" value="{pwd.value}">
            </div>
            {/if}
        </div>
    </div>
</div>

<style type="text/scss">
    @import "./style/vars.scss";

    %boxshadow {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, -24px 20px 1px -6px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, -24px 20px 1px -6px rgba(0,0,0,0);
}
#hiddenInput {
    visibility: hidden;
    position: absolute;
}
.container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 0px;
    border-color: $white;
    border-radius: 10px;
    @extend %boxshadow;
    margin-top: 2%;
    color: $font;
    background-color: $tileBackground;
    
}
#pwdWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#pwd {
		background-color: transparent;
		border: none;
		text-align: center;
		color: $font;
	}
#spacer {
    display: flex;
    flex-direction: column;
    width: 95%;
}
#topRow {
    display: flex;
    justify-content: space-between;
}
#bottomRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#name {
    font-size: x-large;
    color: $white;
}
a {
    color: inherit;
    text-decoration: none;
}
</style>

