

<div id="background">
    <div id="wrapper">
        <div id="window">

        </div>
    </div>
</div>

<style type="text/scss">
    @import "./style/vars.scss";
    #background {
            z-index: 500;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $translayer;
        display: flex;
        justify-content: center;
    }
    #wrapper {
        width: 50%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	#window {
        z-index: 501;
		background-color: $purpleSolid;
		border-radius: 10px;
		height: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
	}

</style>