<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();
    let uniqueId = '';

    function submit() {
        $: {
            dispatch('submit', {
                uuid: {uniqueId}
            });
        }
    }
</script>

<div id="background">
	<div id="wrapper">
		<div id="window">
			<div id=topRow>
                <p>Please enter your unique id</p>
            </div>
            <input bind:value="{uniqueId}" id="input" type="text"/>
            <button id="button" on:click={submit}>Confirm</button>
		</div>
	</div>
</div>

<style type="text/scss">
@import "./style/vars.scss";
#background {
		z-index: 500;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $translayer;
		display: flex;
		justify-content: center;
	}
	#wrapper {
        width: 40%;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	#window {
		background-color: $white;
		border-radius: 10px;
		height: 30%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
	}
    #topRow {
        display: flex;
        justify-content: center;
    }
    #input {
        margin-left: 10px;
        margin-right: 10px;
    }
    #button {
        margin-left: 10px;
        margin-right: 10px;
    }

</style>